
<!-- Page-->
<div class="house-main" style="background-color: white">
  <div class='container'>
    <div class="row">
      <div class="page text-center">
        <main class="page-content">
          <!-- 4 columns layout-->
              <section class="section-98 section-sm-110">
              <div class="shell">
                <h2>Trier par département</h2>
                <input type="button" onclick="nord()"  value="Nord">
                <script type="text/javascript">
                  function nord() {
                    const choicenord = document.getElementById("choicedpt");
                    const itemnord = "<%= render 'shared/cardsnord' %>" ;
                    choicenord.insertAdjacentHTML("beforeend", itemnord);
                  };
                </script>
                <input type="button" onclick="pdc()" value="Pas-de-Calais">
                <script type="text/javascript">
                  function pdc() {
                    const choicepdc = document.getElementById("choicedpt");
                    const itempdc = "<%= render 'shared/cardspdc' %>";
                    choicepdc.insertAdjacentHTML("beforeend", itempdc);
                  };
                  </script>
                <hr class="divider divider-lg bg-secondary">
                <div id="choicedpt">


                </div>
              </div>
            </section>
        </main>
      </div>
    </div>
  </div>
  <div class="map-index">
    <div id="map" style="width: 100%; height: 100vh;"></div>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      <% end %>
    <% end %>
  </div>
</div>
<!-- Java script-->
<script src="/app/assets/js/core.min.js"></script>
<script src="/app/assets/js/script.js"></script>
