<h1>Bonjour,</h1>

<p>Bienvenue chez Handident!</p>
<p>Merci de votre inscription</p>
<p>Vous pouvez dès à présent créer votre compte en cliquant</p>

<p>A très vite</p>
<%= link_to "Handident", root_url, target: '_blank'%>
