<div class="page text-center">
  <!-- Page Head-->
  <header class="page-head rd-navbar-sidebar-toggle-wrap">
    <!-- RD Navbar Transparent-->
    <div class="rd-navbar-wrap" style="/* display: none; */">
      <nav class="rd-navbar rd-navbar-sidebar-toggle rd-navbar-light rd-navbar-fixed " data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-stick-up="false" data-lg-hover-on="false">
        <div class="rd-navbar-inner">
          <!-- RD Navbar Panel-->
          <div class="rd-navbar-panel">
            <!-- RD Navbar Toggle-->
            <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle "><span></span></button>
            <!-- RD Navbar Toggle-->
            <button data-rd-navbar-toggle=".rd-navbar, .swiper-top-panel" class="rd-navbar-top-panel-toggle"><span></span></button>
          </div>
          <div class="rd-navbar-menu-wrap">
            <div class="rd-navbar-nav-wrap ">
              <div class="rd-navbar-mobile-scroll-holder">
                <div class="rd-navbar-mobile-scroll">
                  <!--Navbar Brand Mobile-->
                  <div class="rd-navbar-mobile-brand"><a href="index.html"><%= image_tag "logo-dark.png", width:'160', height:'45', class:'img-responsive' %></a></div>
                  <div class="form-search-wrap">
                    <!-- RD Search Form-->
                    <form action="search-results.html" method="GET" class="form-search rd-search">
                      <div class="form-group">
                        <label for="rd-navbar-form-search-widget" class="form-label form-search-label form-label-sm rd-input-label">Search</label>
                        <input id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input form-control form-control-gray-lightest input-sm">
                      </div>
                      <button type="submit" class="form-search-submit"><span class="fa fa-search text-primary"></span></button>
                    </form>
                  </div>
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li class=""><a href="index.html"><span>Home</span></a>
                    </li>
                    <li><a href="about.html"><span>About</span></a>
                    </li>
                    <li><a href="our-team.html"><span>Team</span></a>
                    </li>
                    <li class="rd-navbar--has-dropdown rd-navbar-submenu"><a href="#"><span>Pages</span></a>
                      <ul class="rd-navbar-dropdown rd-navbar-open-left">
                        <li><a href="typography.html"><span class="rd-navbar-icon"></span><span class="text-middle">Typography</span></a></li>
                        <li><a href="forms.html"><span class="rd-navbar-icon"></span><span class="text-middle">Forms</span></a></li>
                        <li><a href="buttons.html"><span class="rd-navbar-icon"></span><span class="text-middle">Buttons</span></a></li>
                      </ul>
                    <span class="rd-navbar-submenu-toggle"></span></li>
                    <li><a href="services.html"><span>Services</span></a>
                    </li>
                    <li><a href="departments.html"><span>Departments</span></a>
                    </li>
                    <li><a href="timetable.html"><span>Timetable</span></a>
                    </li>
                    <li class="rd-navbar--has-dropdown rd-navbar-submenu"><a href="blog-masonry.html"><span>Blog</span></a>
                      <ul class="rd-navbar-dropdown rd-navbar-open-left">
                        <li><a href="blog-masonry.html"><span class="text-middle">Masonry blog</span></a>
                        </li>
                        <li><a href="blog-modern.html"><span class="text-middle">Modern blog</span></a>
                        </li>
                        <li><a href="blog-classic.html"><span class="text-middle">Classic blog</span></a>
                        </li>
                      </ul>
                    <span class="rd-navbar-submenu-toggle"></span></li>
                    <li><a href="contacts.html"><span>Contacts</span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
</div>


