
 <!-- Page-->
    <div class="page text-center">
      <!-- Page Contents-->
      <main class="page-content">


        <!-- Masonry Blog-->
        <div id="fb-root"></div>
        <section class="section-98 section-sm-110">
          <div class="shell">
            <div class="range range-xs-center">
              <div class="cell-md-10 cell-lg-8">
                <div class="range range-xs-center" id="choix">
                </div>
              </div>
              <div class="cell-sm-10 cell-md-8 cell-lg-4 offset-top-66 offset-md-top-90 offset-lg-top-0">
                <div class="blog-grid-sidebar inset-lg-left-30">
                  <!-- Aside-->
                <%= render 'shared/messagesphotos'%>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <!-- Java script-->

